/* line 165, icon */
.icon-sprite, .icon-activity, .icon-android, .icon-bodylog, .icon-buddies, .icon-camera, .icon-comment, .icon-edit, .icon-female, .icon-foodlog, .icon-grassfedmeat, .icon-highfive, .icon-home, .icon-homecooked, .icon-localfood, .icon-logs, .icon-organicveg, .icon-profile, .icon-reminder, .icon-settings, .icon-settings2, .icon-stats, .icon-stats2, .icon-sustseafood, .icon-tip {
  background: url('/img/icon-s97f5308db7.png') no-repeat;
}

/* line 60, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-activity {
  background-position: 0 0;
}

/* line 60, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-android {
  background-position: 0 -27px;
}

/* line 60, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-bodylog {
  background-position: 0 -51px;
}

/* line 60, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-buddies {
  background-position: 0 -75px;
}

/* line 60, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-camera {
  background-position: 0 -99px;
}

/* line 60, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-comment {
  background-position: 0 -115px;
}

/* line 60, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-edit {
  background-position: 0 -131px;
}

/* line 60, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-female {
  background-position: 0 -147px;
}

/* line 60, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-foodlog {
  background-position: 0 -163px;
}

/* line 60, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-grassfedmeat {
  background-position: 0 -187px;
}

/* line 60, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-highfive {
  background-position: 0 -203px;
}

/* line 60, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-home {
  background-position: 0 -225px;
}

/* line 60, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-homecooked {
  background-position: 0 -249px;
}

/* line 60, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-localfood {
  background-position: 0 -265px;
}

/* line 60, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-logs {
  background-position: 0 -281px;
}

/* line 60, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-organicveg {
  background-position: 0 -300px;
}

/* line 60, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-profile {
  background-position: 0 -316px;
}

/* line 60, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-reminder {
  background-position: 0 -333px;
}

/* line 60, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-settings {
  background-position: 0 -349px;
}

/* line 60, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-settings2 {
  background-position: 0 -373px;
}

/* line 60, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-stats {
  background-position: 0 -399px;
}

/* line 60, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-stats2 {
  background-position: 0 -423px;
}

/* line 60, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-sustseafood {
  background-position: 0 -447px;
}

/* line 60, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-tip {
  background-position: 0 -463px;
}

/* line 25, ../sass/_common.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Didact Gothic', sans-serif;
}

/* line 29, ../sass/_common.scss */
body {
  color: #222222;
  padding-top: 50px;
}

/* line 34, ../sass/_common.scss */
input, textarea, select, .uneditable-input, li {
  color: #222222;
}

/* line 38, ../sass/_common.scss */
.form-stacked {
  padding-left: 0px;
}

/* line 42, ../sass/_common.scss */
.btn.primary {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(top, #5bc0de, #339bb9);
  background-color: #339bb9;
  border-color: #339bb9;
}

/* line 48, ../sass/_common.scss */
a {
  color: #339bb9;
}
/* line 50, ../sass/_common.scss */
a:active, a:link, a:hover {
  color: #257085;
}

/* line 55, ../sass/_common.scss */
.topbar {
  z-index: 9999;
}
/* line 57, ../sass/_common.scss */
.topbar .topbar-inner {
  background-color: #339bb9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(top, #5bc0de, #339bb9);
}
/* line 61, ../sass/_common.scss */
.topbar h3 a {
  padding: 0px;
  padding-left: 10px;
  padding-right: 20px;
}
/* line 65, ../sass/_common.scss */
.topbar h3 a .label {
  float: right;
  margin-top: 15px;
  margin-left: 5px;
  background-color: #ffce52;
  color: #339bb9;
}
/* line 72, ../sass/_common.scss */
.topbar h3 a .logo {
  background-image: url("/img/everydaylogo_trans.png");
  width: 138px;
  height: 40px;
  margin-right: 40px;
}
/* line 79, ../sass/_common.scss */
.topbar div > ul .active a, .topbar .nav .active a {
  background-color: white;
  color: #339bb9;
}
/* line 83, ../sass/_common.scss */
.topbar div > ul a, .topbar .nav a {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
/* line 88, ../sass/_common.scss */
.topbar div > ul .menu-dropdown, .topbar .nav .menu-dropdown, .topbar .topbar div > ul .dropdown-menu, .topbar .nav .dropdown-menu {
  background-color: #339bb9;
}
/* line 91, ../sass/_common.scss */
.topbar div > ul .menu-dropdown li a, .topbar .nav .menu-dropdown li a, .topbar .topbar div > ul .dropdown-menu li a, .topbar .nav .dropdown-menu li a {
  background: #339bb9 !important;
  color: white;
}

/* line 99, ../sass/_common.scss */
.icon-sprite, .icon-activity, .icon-android, .icon-bodylog, .icon-buddies, .icon-camera, .icon-comment, .icon-edit, .icon-female, .icon-foodlog, .icon-grassfedmeat, .icon-highfive, .icon-home, .icon-homecooked, .icon-localfood, .icon-logs, .icon-organicveg, .icon-profile, .icon-reminder, .icon-settings, .icon-settings2, .icon-stats, .icon-stats2, .icon-sustseafood, .icon-tip {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 2px;
}

/* line 3, ../sass/web.scss */
#footer {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d7f6ff), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #d7f6ff, #ffffff);
  background-image: -moz-linear-gradient(top, #d7f6ff, #ffffff);
  background-image: -o-linear-gradient(top, #d7f6ff, #ffffff);
  background-image: -ms-linear-gradient(top, #d7f6ff, #ffffff);
  background-image: linear-gradient(top, #d7f6ff, #ffffff);
}
/* line 6, ../sass/web.scss */
#footer .container {
  height: 100px;
  padding-top: 15px;
  text-align: center;
}

/* line 13, ../sass/web.scss */
.alert-message li {
  color: black;
}

/* line 17, ../sass/web.scss */
.clearfix {
  margin-bottom: 6px;
}

/* line 21, ../sass/web.scss */
.pills {
  text-align: right;
}
/* line 23, ../sass/web.scss */
.pills li {
  float: none;
  display: inline-block;
}
/* line 27, ../sass/web.scss */
.pills .active a {
  background: #339bb9;
}
/* line 30, ../sass/web.scss */
.pills a:hover {
  background: #257085;
}

/* line 35, ../sass/web.scss */
select.xsmall {
  width: 60px;
}

/* line 39, ../sass/web.scss */
.inputs-list li {
  padding-top: 5px;
}

/* line 43, ../sass/web.scss */
#fancybox-wrap {
  z-index: 10000;
}

/* line 47, ../sass/web.scss */
.alert-message p {
  margin-bottom: 10px;
}

/* line 51, ../sass/web.scss */
.twipsy {
  font-size: 13px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 55, ../sass/web.scss */
.twipsy .twipsy-inner {
  background: #339bb9;
  color: white;
}

/* line 61, ../sass/web.scss */
.twipsy.below .twipsy-arrow {
  border-bottom: 5px solid #339bb9;
}

/* line 65, ../sass/web.scss */
.tip {
  border: 0px none;
  padding: 3px;
}

/* line 70, ../sass/web.scss */
.framed-img {
  border: 3px solid #ccc;
  margin-bottom: 6px;
}

/* line 75, ../sass/web.scss */
.page-section {
  clear: right;
}

/** feedback badge **/
/* line 81, ../sass/web.scss */
#feedback-badge {
  position: fixed;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -o-border-bottom-right-radius: 0px;
  -ms-border-bottom-right-radius: 0px;
  -khtml-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -o-border-bottom-left-radius: 0px;
  -ms-border-bottom-left-radius: 0px;
  -khtml-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 24px;
  bottom: 0px;
  right: 40px;
  padding: 6px;
}

/* line 92, ../sass/web.scss */
.modal form {
  margin-bottom: 0px;
}

/* line 96, ../sass/web.scss */
.tour-section {
  margin-top: 40px;
}

/** log ***/
/* line 102, ../sass/web.scss */
#log-form .help-button {
  float: right;
  border-radius: 1em;
}
/* line 106, ../sass/web.scss */
#log-form .help-message, #log-form .help-text {
  display: none;
}
/* line 110, ../sass/web.scss */
#log-form #log-foodgoals-types .help-button {
  padding: 3px 5px 3px;
  vertical-align: middle;
  margin-top: 5px;
}
/* line 115, ../sass/web.scss */
#log-form #log-foodgoals-types .log-foodgoals-slider {
  margin-left: 130px;
}
/* line 117, ../sass/web.scss */
#log-form #log-foodgoals-types .log-foodgoals-slider .log-slider {
  width: 600px;
}
/* line 123, ../sass/web.scss */
#log-form .log-meal-what {
  width: 275px;
}
/* line 127, ../sass/web.scss */
#log-form .log-meal-photo-button {
  cursor: pointer;
  vertical-align: middle;
  padding: 3px;
  width: 30px;
  height: 30px;
}
/* line 135, ../sass/web.scss */
#log-form .log-meal-photo-img {
  width: 20px;
}
/* line 139, ../sass/web.scss */
#log-form .log-meal-fields {
  display: inline;
}
/* line 144, ../sass/web.scss */
#log-form #log-photos .log-photo {
  margin: 3px;
  float: left;
  width: 100px;
  text-align: center;
  height: 100px;
}
/* line 150, ../sass/web.scss */
#log-form #log-photos .log-photo img {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
}

/** stream **/
/* line 166, ../sass/web.scss */
.stream-date {
  text-transform: uppercase;
  font-weight: bold;
  clear: left;
  border-bottom: 1px solid #CCC;
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: larger;
}

/* line 176, ../sass/web.scss */
.stream-item {
  clear: left;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 1.4;
  max-width: 650px;
  width: 100%;
  color: black;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
/* line 187, ../sass/web.scss */
.stream-item .stream-content {
  margin-left: 70px;
}
/* line 191, ../sass/web.scss */
.stream-item .stream-user-img {
  width: 60px;
}
/* line 194, ../sass/web.scss */
.stream-item .stream-user-img img {
  float: left;
  width: 60px;
  height: 60px;
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 5px;
  border: 1px solid #cccccc;
}
/* line 205, ../sass/web.scss */
.stream-item .stream-foodtrend .stream-foodtype {
  margin-right: 0px;
}
/* line 211, ../sass/web.scss */
.stream-item .stream-foods br {
  margin: 3px 0px;
  display: block;
  content: "";
}
/* line 218, ../sass/web.scss */
.stream-item .stream-meals {
  margin: 5px 0px;
}
/* line 221, ../sass/web.scss */
.stream-item .stream-meals .stream-meal {
  margin-bottom: 5px;
}
/* line 224, ../sass/web.scss */
.stream-item .stream-meals .stream-meals-img {
  display: inline-block;
  width: 31px;
  height: 30px;
}
/* line 228, ../sass/web.scss */
.stream-item .stream-meals .stream-meals-img img {
  width: 30px;
  height: 30px;
  border: 1px solid #cccccc;
  vertical-align: middle;
}
/* line 235, ../sass/web.scss */
.stream-item .stream-meals .stream-meals-time {
  display: inline-block;
  width: 40px;
  font-size: smaller;
  text-align: center;
  margin: 0px 5px;
  vertical-align: middle;
}
/* line 243, ../sass/web.scss */
.stream-item .stream-meals .stream-meals-what {
  display: inline-block;
  vertical-align: middle;
  max-width: 500px;
}
/* line 250, ../sass/web.scss */
.stream-item .stream-log-img {
  width: 50px;
  margin-right: 5px;
  border: 1px solid #cccccc;
}
/* line 255, ../sass/web.scss */
.stream-item .stream-label {
  font-size: smaller;
}
/* line 258, ../sass/web.scss */
.stream-item .stream-tag {
  background-color: #d0d9e0;
  padding: 3px;
  display: inline-block;
  margin: 2px;
  font-size: smaller;
}
/* line 265, ../sass/web.scss */
.stream-item .stream-foodtype {
  background-color: #ddd;
  margin-right: 5px;
  padding: 3px;
  font-size: smaller;
  line-height: 2.5;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
/* line 273, ../sass/web.scss */
.stream-item .stream-time {
  color: #999;
  float: right;
}
/* line 277, ../sass/web.scss */
.stream-item .icon-highfive {
  width: 21px;
  height: 22px;
  vertical-align: middle;
}
/* line 282, ../sass/web.scss */
.stream-item .stream-comment-button {
  margin-top: 5px;
}
/* line 285, ../sass/web.scss */
.stream-item .stream-comments {
  margin-top: 5px;
}
/* line 288, ../sass/web.scss */
.stream-item .stream-comment {
  border-top: 1px solid #EEE;
  padding: 5px 7px 10px 5px;
  clear: left;
  width: 100%;
}
/* line 294, ../sass/web.scss */
.stream-item .stream-comment .stream-user-img img {
  width: 20px;
  height: 20px;
  margin-bottom: 4px;
  margin-right: 5px;
}
/* line 302, ../sass/web.scss */
.stream-item .bonus-icon {
  cursor: pointer;
}
/* line 306, ../sass/web.scss */
.stream-item .stream-comment-form textarea {
  margin-bottom: 5px;
  width: 100%;
}

/* line 313, ../sass/web.scss */
.lazy-user {
  clear: left;
}
/* line 315, ../sass/web.scss */
.lazy-user .user-img {
  float: left;
  width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #cccccc;
}

/** Stats stuff **/
/* line 327, ../sass/web.scss */
.stats-table {
  width: 99%;
  border-spacing: 0px;
  border-collapse: separate;
  table-layout: fixed;
}
/* line 334, ../sass/web.scss */
.stats-table.manydays .label-cell {
  font-size: 10px;
}
/* line 337, ../sass/web.scss */
.stats-table.manydays .link-cell {
  height: 1px;
  overflow: hidden;
}
/* line 340, ../sass/web.scss */
.stats-table.manydays .link-cell a {
  visibility: hidden;
}
/* line 344, ../sass/web.scss */
.stats-table.manydays .icons-value img {
  width: 10px;
}
/* line 347, ../sass/web.scss */
.stats-table.manydays .date-header {
  text-align: left;
}
/* line 349, ../sass/web.scss */
.stats-table.manydays .date-header:last-child {
  text-align: right;
}
/* line 353, ../sass/web.scss */
.stats-table.manydays .text-value {
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 361, ../sass/web.scss */
.stats-table tbody td {
  word-wrap: break-word;
  overflow: hidden;
  border: none;
  padding: 0px;
}
/* line 367, ../sass/web.scss */
.stats-table .date-header {
  text-align: center;
}
/* line 370, ../sass/web.scss */
.stats-table .header-row td {
  border-top: 1px solid #ccc;
}
/* line 373, ../sass/web.scss */
.stats-table .label-cell {
  text-align: right;
  border: none;
  vertical-align: middle;
  padding-right: 5px;
  height: 10px;
  font-size: 11px;
  overflow: hidden;
  border-right: 1px solid #ccc;
}
/* line 383, ../sass/web.scss */
.stats-table .image-cell {
  text-align: center;
  border-right: 1px solid #CCC;
}
/* line 386, ../sass/web.scss */
.stats-table .image-cell img {
  border: 1px solid #ccc;
  width: 20px;
  height: 20px;
}
/* line 392, ../sass/web.scss */
.stats-table time {
  display: none;
}
/* line 395, ../sass/web.scss */
.stats-table .value-cell {
  text-align: center;
  height: 20px;
  border-right: 1px solid #CCC;
}
/* line 400, ../sass/web.scss */
.stats-table .link-cell {
  text-align: center;
  font-size: larger;
  padding: 2px;
}
/* line 405, ../sass/web.scss */
.stats-table .chart-cell {
  border-right: 1px solid #CCC;
}
/* line 408, ../sass/web.scss */
.stats-table .nodata-value {
  vertical-align: middle;
  color: #ccc;
}
/* line 412, ../sass/web.scss */
.stats-table .text-value {
  font-size: smaller;
  opacity: 1.0;
  padding: 2px;
  border-right: 1px solid #CCC;
}
/* line 418, ../sass/web.scss */
.stats-table .icons-value {
  padding: 2px;
  text-align: center;
  border-right: 1px solid #CCC;
}
/* line 423, ../sass/web.scss */
.stats-table .icon-comment {
  margin: auto;
  font-size: 8px;
  padding-top: 0px;
}
/* line 428, ../sass/web.scss */
.stats-table .tag {
  background-color: #d0d9e0;
  padding: 3px;
  display: inline-block;
  margin: 2px;
  color: black;
}

/** Buddies **/
/* line 438, ../sass/web.scss */
.user-list {
  padding: 0px;
  margin-left: 0px;
}

/* line 443, ../sass/web.scss */
.user-info {
  list-style: none;
  text-align: center;
  border: 1px solid #CCC;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -khtml-border-radius: 0.3em;
  border-radius: 0.3em;
  padding: 3px;
  float: left;
  width: 180px;
  margin-right: 5px;
  margin-bottom: 10px;
}
/* line 454, ../sass/web.scss */
.user-info .user-img {
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 5px;
}

/** food-goals **/
/* line 464, ../sass/web.scss */
#food-goals-list {
  position: relative;
}
/* line 466, ../sass/web.scss */
#food-goals-list label {
  cursor: pointer;
}
/* line 469, ../sass/web.scss */
#food-goals-list .popover {
  left: 200px;
}
/* line 471, ../sass/web.scss */
#food-goals-list .popover .inner {
  width: 600px;
}

/** Getting started pages **/
/* line 479, ../sass/web.scss */
.start-content {
  min-height: 400px;
}

/* line 483, ../sass/web.scss */
.progress {
  width: 600px;
  margin: auto;
  margin-top: 15px;
  text-transform: uppercase;
}
/* line 488, ../sass/web.scss */
.progress li {
  list-style: none;
  display: inline;
  margin-right: 5px;
  font-weight: bold;
}
/* line 493, ../sass/web.scss */
.progress li span {
  display: inline-block;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(top, #5bc0de, #339bb9);
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
  color: white;
  padding: .2em .7em;
  text-align: center;
}
/* line 501, ../sass/web.scss */
.progress li.progress-done {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 503, ../sass/web.scss */
.progress li.progress-done > span {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
}
/* line 512, ../sass/web.scss */
.progress li.progress-todo {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 519, ../sass/web.scss */
#home-starttips {
  margin-bottom: 10px;
}
/* line 522, ../sass/web.scss */
#home-starttips ul li {
  list-style: none;
  clear: left;
  margin-bottom: 10px;
}
/* line 527, ../sass/web.scss */
#home-starttips ul img {
  float: left;
  vertical-align: middle;
  margin-right: 6px;
  height: 35px;
  width: 40px;
}

/** Changelog **/
/* line 539, ../sass/web.scss */
#changelog-list li {
  list-style: none;
  clear: left;
}
/* line 542, ../sass/web.scss */
#changelog-list li .changelog-title {
  font-weight: bold;
}
/* line 545, ../sass/web.scss */
#changelog-list li .changelog-date {
  font-size: smaller;
}
/* line 548, ../sass/web.scss */
#changelog-list li img {
  float: left;
  border: 1px solid #cccccc;
  margin-bottom: 20px;
  margin-right: 10px;
  width: 120px;
  height: 70px;
}

/** Lnading **/
/* line 560, ../sass/web.scss */
#landing-top {
  margin-top: 40px;
  background: #D7F6FF;
}

/* line 565, ../sass/web.scss */
#landing-top .container {
  text-align: center;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 25px;
}

/* line 572, ../sass/web.scss */
#landing-header, #landing-subheader {
  font-family: 'Didact Gothic', sans-serif;
}

/* line 576, ../sass/web.scss */
#landing-header {
  font-weight: bold;
  font-size: 2.2em;
  line-height: 1.1em;
}

/* line 582, ../sass/web.scss */
#landing-header .special {
  font-size: larger;
  font-style: none;
}

/* line 587, ../sass/web.scss */
#landing-subheader {
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 25px;
}

/* line 593, ../sass/web.scss */
#landing-features img {
  border: 3px solid #ccc;
  width: 220px;
  height: 160px;
}

/* line 599, ../sass/web.scss */
#start-button {
  width: 60%;
  font-size: 1.5em;
}

/* Mobile styles */
@media handheld, only screen and (max-device-width: 480px), only screen and (max-width: 640px) {
  /* line 606, ../sass/web.scss */
  .container {
    width: 90%;
  }

  /* line 610, ../sass/web.scss */
  #login-bar-already {
    display: none;
  }

  /* line 614, ../sass/web.scss */
  #landing-features {
    display: none;
  }

  /* line 618, ../sass/web.scss */
  #landing-top {
    background: white;
  }

  /* line 622, ../sass/web.scss */
  #footer-socialmedia {
    display: none;
  }

  /* line 626, ../sass/web.scss */
  #feedback-badge {
    display: none;
  }

  /* line 630, ../sass/web.scss */
  .tour-section .framed-img {
    width: 95%;
  }

  /* line 635, ../sass/web.scss */
  .start-content h3 {
    border-bottom: 1px solid #CCC;
    margin-top: 10px;
  }

  /* line 641, ../sass/web.scss */
  .progress {
    width: 90%;
    font-size: .8em;
    text-align: center;
  }
  /* line 645, ../sass/web.scss */
  .progress li.progress-divider {
    display: block;
    height: 8px;
  }

  /* line 651, ../sass/web.scss */
  #home-sidebar {
    display: none;
  }

  /* line 656, ../sass/web.scss */
  .topbar h3 a {
    padding-left: 0px;
    padding-right: 5px;
  }
  /* line 659, ../sass/web.scss */
  .topbar h3 a .logo {
    background-image: url("/img/everydaylogo_square.png");
    width: 40px;
    height: 40px;
    margin-right: 0px;
  }
  /* line 665, ../sass/web.scss */
  .topbar h3 a .label {
    display: none;
  }
  /* line 670, ../sass/web.scss */
  .topbar #login-bar #login-bar-name {
    display: none;
  }

  /* line 677, ../sass/web.scss */
  #stream {
    width: 99%;
  }

  /* line 681, ../sass/web.scss */
  .stream-item {
    max-width: 95%;
  }
  /* line 683, ../sass/web.scss */
  .stream-item .stream-content {
    margin-left: 35px;
  }
  /* line 686, ../sass/web.scss */
  .stream-item .stream-user-img {
    width: 30px;
  }
  /* line 688, ../sass/web.scss */
  .stream-item .stream-user-img img {
    width: 30px;
    height: 30px;
  }

  /* line 695, ../sass/web.scss */
  form {
    padding-left: 3px;
  }
  /* line 697, ../sass/web.scss */
  form fieldset {
    padding-top: 9px;
  }
  /* line 700, ../sass/web.scss */
  form legend {
    padding-left: 0;
  }
  /* line 703, ../sass/web.scss */
  form label {
    display: block;
    float: none;
    width: auto;
    font-weight: bold;
    text-align: left;
    line-height: 20px;
    padding-top: 0;
  }
  /* line 712, ../sass/web.scss */
  form .clearfix {
    margin-bottom: 9px;
  }
  /* line 714, ../sass/web.scss */
  form .clearfix div.input {
    margin-left: 0;
  }
  /* line 718, ../sass/web.scss */
  form .inputs-list {
    margin-bottom: 0;
  }
  /* line 720, ../sass/web.scss */
  form .inputs-list li {
    padding-top: 0;
  }
  /* line 722, ../sass/web.scss */
  form .inputs-list li label {
    font-weight: normal;
    padding-top: 0;
  }
  /* line 728, ../sass/web.scss */
  form div.clearfix.error {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 0;
    margin-left: -10px;
  }
  /* line 735, ../sass/web.scss */
  form .actions {
    margin-left: -20px;
    padding-left: 20px;
  }
  /* line 739, ../sass/web.scss */
  form .input-xxlarge, form input.xxlarge, form textarea.xxlarge, form select.xxlarge {
    width: 95%;
  }

  /* line 744, ../sass/web.scss */
  #log-meals-list {
    clear: right;
    padding-top: 6px;
  }
  /* line 747, ../sass/web.scss */
  #log-meals-list .log-meal-what {
    width: 170px;
  }

  /* line 752, ../sass/web.scss */
  #log-date {
    font-size: 24px;
  }

  /* line 756, ../sass/web.scss */
  #log-form {
    margin-left: 0px;
  }
  /* line 758, ../sass/web.scss */
  #log-form #log-foodgoals-types {
    width: 95%;
    max-width: 530px;
    margin-top: 10px;
  }
  /* line 762, ../sass/web.scss */
  #log-form #log-foodgoals-types .log-foodgoals-slider {
    margin-left: 0px;
  }
  /* line 764, ../sass/web.scss */
  #log-form #log-foodgoals-types .log-foodgoals-slider input.log-slider {
    width: 0px;
  }
  /* line 767, ../sass/web.scss */
  #log-form #log-foodgoals-types .log-foodgoals-slider .colorslider-wrapper {
    margin-top: 13px;
    margin-bottom: 12px;
  }
  /* line 770, ../sass/web.scss */
  #log-form #log-foodgoals-types .log-foodgoals-slider .colorslider-wrapper .colorslider-slider {
    background: url("images/sliderbg.png") no-repeat;
    border: 1px solid #ccc;
  }
}
