{% extends "base.j2" %}
{% from "macros.j2" import render_excerpt with context  %}

{% block main %}
<section class="archives">
<div class="page-header">
  <h1 class="tag title">{{ tag.name }}</h1>
</div>
<ul class="posts clear">
{% for res in walker() -%}
  {{ render_excerpt(res) }}
{%- endfor %}
</ul>
</section>
{% endblock %}
